<nav class="footer">
  <div class="inner-footer">
    <div class="column">
      <p> Simple backlog</p>
    </div>
    <div class="column">
      <p> Source code at:</p>
      <a href="https://github.com/DimitriosNaikopoulos/client_backlog"><i class="fab fa-github"></i></a>
    </div>
    <div class="column">
      <p> Dimitrios Naikopoulos @ 2020</p> 
      <div class=social>
        <a href="https://www.linkedin.com/in/dimitrios-naikopoulos/"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/DimitriosNaikopoulos"><i class="fab fa-github"></i></a>
      </div>
    </div>
  </div>
</nav>